<div class="comment">
  <div class="comment_body">
    <b>{{ comment.getOwner.field_first_name.value }} {{ comment.getOwner.field_last_name.value }}</b>
    {{content.field_comment}}
  </div>
  <div class="comment_links">
    {{ content.links }}
  </div>
</div>
